header {
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(23, 17, 35, 0.4), rgba(23, 17, 35, 0.7)), url(images/background-pic.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    color: #fdfdfd;
}

.active-nav::after {
    content: '';
    height: 0.2vw;
    width: 0;
    background: #ff8906;
    position: absolute;
    left: 0;
    bottom: -0.5vw;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}
